body{
    background: #BDBDBD;
}

.card img {
   display:flex;
   justify-content: center;
}

.card-title {
    color: rgb(13, 105, 190);
}

.jumbotron {
    height: 25%;
}
.jumbotron h1, p {
    text-align: center;
    background-color: white;
    width: 100%;
}
.nav-link {
    text-decoration: none;
    color: gray;
}