body{
    background: #BDBDBD;
}

.card img {
   display:flex;
   justify-content: center;
}

.card-title {
    color: rgb(13, 105, 190);
}

.jumbotron {
    background-image: url(https://raw.githubusercontent.com/breatheco-de/exercise-collaborative-html-website/master/website1/assets/img/bg.jpg);
    background-size: cover;
    height: 900px;
}
.heading h1, p{
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 5px;
}
.heading h1 {
    font-size: 8rem;
}
.heading p {
    font-size: 5rem;
}
.container-fluid {
    padding-top: 6rem;
}
.nav-link {
    text-decoration: none;
    color: gray;
}

.feature-title span{
    color: gray;

}

.rounded-img{
  border-radius: 50%;
  max-width: 80%
}

.padding-section{
    padding-bottom: 90px
}

.section-divider{
    margin-top: 90px;
    padding-top: 10px;
    border-top: solid 2px gray;
}

.portfolio-heading h1{
  margin-left: 30px
}

.first-divider{
    display: flex;
    border-top: solid 2px gray;
    flex-direction: row;
    padding-bottom: 60px;
}