<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="first-divider">
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-9 feature-title">
            <h1>The First Heading <span>Will Catch your Eye</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus facere maiores provident dolorum dolorem atque libero nisi? Nesciunt pariatur praesentium unde reiciendis magni atque saepe blanditiis veritatis dolore provident illo a consequatur, architecto corporis nisi enim? Incidunt nemo ullam, quisquam, eveniet ab porro tempora neque atque et impedit aliquid dolorum?</p>
        </div>
        <div class="col-md-3 justify-content-start">
           <img  class="rounded-img" src="/website1/assets/img/1.jpg">
        </div>
    </div>