<!-- your html code here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 d-flex justify-content-start">
            <img class="rounded-img" src="/website1/assets/img/2.jpg">
        </div>
        <div class="col-md-9 justify-content-start feature-title">
            <h1>The Second Heading <span>Will Catch your Eye</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus facere maiores provident dolorum dolorem atque libero nisi? Nesciunt pariatur praesentium unde reiciendis magni atque saepe blanditiis veritatis dolore provident illo a consequatur, architecto corporis nisi enim? Incidunt nemo ullam, quisquam, eveniet ab porro tempora neque atque et impedit aliquid dolorum?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="section-divider padding-section">
            </div>
        </div>
    </div>
</div>